{% extends "welcome.html" %}
{% block n1 %}
<h1>Show Medicine For Users</h1>
{% if vgt %}

<table cellpadding="10" cellspacing="10">

{% for d in vgt %}

<tr>
    <td>
        <h3>{{d[1]}}</h3>
        company : {{d[2]}}<br>
        unit_prize : {{d[3]}}<br>
        description : {{d[4]}}<br>
</td>
    <td>
        <h3>{{d[6]}}</h3>
        Address : {{d[10]}}<br/>
        Contact : {{d[11]}}<br/>
    </td>
</tr>

{% endfor %}
</table>


{% elif msg %}
<h3>{{msg}}</h3>
{% endif %}

{% endblock %}